625 Artificial Intelligence/hws/hw8/data/MNIST/raw/t10k-images-idx3-ubyte
625 Artificial Intelligence/hws/hw8/data/MNIST/raw/t10k-images-idx3-ubyte.gz
625 Artificial Intelligence/hws/hw8/data/MNIST/raw/t10k-labels-idx1-ubyte
625 Artificial Intelligence/hws/hw8/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
625 Artificial Intelligence/hws/hw8/data/MNIST/raw/train-images-idx3-ubyte
625 Artificial Intelligence/hws/hw8/data/MNIST/raw/train-images-idx3-ubyte.gz
625 Artificial Intelligence/hws/hw8/data/MNIST/raw/train-labels-idx1-ubyte
625 Artificial Intelligence/hws/hw8/data/MNIST/raw/train-labels-idx1-ubyte.gz
/633 Machine Learning/data
/633 Machine Learning/.vscode
633 Machine Learning/hws/hw1/data_test.csv
633 Machine Learning/hws/hw1/data_train.csv
633 Machine Learning/hws/hw2/data_test-1.csv
633 Machine Learning/hws/hw2/data_train-1.csv
633 Machine Learning/hws/hw3/data_test-2.csv
633 Machine Learning/hws/hw3/data_train-2.csv
633 Machine Learning/hws/hw4/x_test.npy
633 Machine Learning/hws/hw4/y_train.npy
633 Machine Learning/hws/hw4/x_train.npy
633 Machine Learning/hws/hwf/data/cgm_test.csv
633 Machine Learning/hws/hwf/data/cgm_train.csv
633 Machine Learning/hws/hwf/data/demo_viome_test.csv
633 Machine Learning/hws/hwf/data/demo_viome_train.csv
633 Machine Learning/hws/hwf/data/img_test.csv
633 Machine Learning/hws/hwf/data/img_train.csv
633 Machine Learning/hws/hwf/data/label_test_breakfast_only.csv
633 Machine Learning/hws/hwf/data/label_train.csv
633 Machine Learning/hws/hwf/data_old/cgm_test.csv
633 Machine Learning/hws/hwf/data_old/cgm_train.csv
/633 Machine Learning/hws/hwf/data_old
/DL_data
CSCE636DL_git/archive.zip
*.pkl
